server {
  listen       80;
  server_name  localhost;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }

  location /go {
    resolver ${DNS_RESOLVER_IP} valid=30s;
    set $web_go web-go;
    proxy_pass      http://$web_go:3000;
  }

  location /python {
    resolver ${DNS_RESOLVER_IP} valid=30s;
    set $web_py web-go;
    proxy_pass      http://$web_py:3001;
  }
}
